<!DOCTYPE html>
<html>

<head>
    <title>简云</title>
    <link rel="stylesheet" href="../static/css/index_styles.css">
    <script src="../static/js/index.js"></script>
</head>

<body class="container">

    <h1 class="header">上传文件</h1>
    <!-- 显示上传表单的按钮 -->
    <div class="button-container">
        <button class="btn" onclick="showUploadForm()">显示上传功能</button>
    </div>
    <!-- 模态窗口 -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe id="uploadIframe" src="../static/html/upfile.html"></iframe>
        </div>
    </div>

    <!-- 登出实现 -->
    <h2>登出功能实现</h2>
    <button id="logoutButton"
        onclick="fetch('/logout', { method: 'GET', credentials: 'include' }).then(function(response) { if (response.redirected) { window.location.href = response.url; } });">登出</button>
    <!-- 登出实现，完成 -->

    <!-- 显示用户信息 -->
    <h2>用户信息，以及容量信息</h2>
    <!-- 1. 头像 -->
    <img class="user-info" src="/user/avatar" alt="avatar">
    <!-- 2. 用户昵称 -->
    <p class="user-info" id="nickname"> {{ all_user.nickname }}</p>
    <!-- 3. 用户容量 -->
    <p class="capacity-info" id="capacity_total">总容量: {{ all_user.capacity.total }}</p>
    <p class="capacity-info" id="capacity_used">已用容量: {{ all_user.capacity.used }}</p>
    <p class="capacity-info" id="capacity_percent">已用百分比: {{ all_user.capacity.percent }}</p>
    <!-- 显示用户信息，结束 -->

    <!-- 批量操作 -->
    <h2>批量操作</h2>
    <a> 批量下载</a>
    <a> 批量移动</a>
    <a> 批量删除</a>
    <!-- 批量操作，结束 -->

    <!-- 显示父类文件路径 -->
    <h2>父级文件夹的路径</h2>
    <ul>
        <a class="path-info" id="/" href="/index">主页面</a>
        {% for uuid, name in all_dict.folders_path.items() %}
        <a class="path-info" id="{{ uuid }}" href="/index/{{ uuid }}">{{ name }}</a>
        {% endfor %}
        <a class="path-info" id="{{ folder_id }}">当前文件夹</a>
    </ul>
    <!-- 实现文件夹显示，结束 -->

    <!-- 实现文件夹显示 -->
    <h2>文件夹</h2>
    {% for folder_item in all_dict.folders %}
    <div type="folder" class="folder">
        <img src="/thumbnail/folder" alt="folder">
        <a href="/index/{{ folder_item.uuid }}">{{ folder_item.name }}</a>
        <a id="time">{{ folder_item.time }}</a>
        {% if folder_item.password %}
        <img src="/folder/lock" alt="lock">
        {% else %}
        <img src="/folder/unlock" alt="unlock">
        {% endif %}
        <!-- 加密文件夹 -->

    </div>
    {% endfor %}
    <!-- 文件夹显示结束 -->

    <!-- 实现文件显示 -->
    <h2>文件</h2>
    {% for file_item in all_dict.files %}
    <div type="file" class="file">
        <img src="/thumbnail/{{ file_item.type }}" alt="file">
        <a id="{{ file_item.uuid }}">{{ file_item.name }}</a>
        <a id="time">{{ file_item.time }}</a>
        <a id="size">{{ file_item.size }}</a>
        <a href="/download?file_id={{ file_item.uuid }}">下载此文件</a>
        <a href="/delete?file_id={{ file_item.uuid }}">删除此文件</a>
    </div>
    {% endfor %}
    <!-- 文件显示结束 -->

</body>

</html>