<!DOCTYPE html>
<html>

<head>
    <title>简云</title>
    <link rel="stylesheet" href="../static/css/index_styles.css">
    <script src="../static/js/index.js"></script>
</head>

<body class="container">
    <!-- 头像 -->
    <img src="/user/avatar" alt="avatar">
    <h1 class="header">上传文件</h1>
    <!-- 显示上传表单的按钮 -->
    <div class="button-container">
        <button class="btn" onclick="showUploadForm()">显示上传功能</button>
    </div>
    <!-- 模态窗口 -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe id="uploadIframe" src="../static/html/upfile.html"></iframe>
        </div>
    </div>
    <!-- 跳转下载文件页面 -->
    <a class="btn" href="/down">下载文件</a>
    <button id="logoutButton"
        onclick="fetch('/logout', { method: 'GET', credentials: 'include' }).then(function(response) { if (response.redirected) { window.location.href = response.url; } });">登出</button>
</body>

</html>